$act: #eb423f;
$hover: #92c2f7;
$a: #626262;
$a1: #454545;
$a2: #8c8c8c;
$a3: #bfbebe;
$b: #090909;
$b1: #171717;
$btn: #ff4141;
$bg: #252525;
$w: #e3e3e3;

$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;
$info: #17a2b8;
$primary: #007bff;
$secondary: #6c757d;
$dark: #343a40;
$light: #f8f9fa;
$deep-blue: #033362;